body, h1, p {
    font-family: 'Antic Didone', serif;
}







body {
    margin: 0;
    padding: 0;
}
/*ESTE É O CABEÇALHO DO SITE*/
.container{
    display: flex;
    margin-top: 0;
    gap: 200px;
}
#cabeçalho {
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    gap: 80px;
    list-style-type: none;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    height: 200px;
}
#navitems{
    text-decoration: none;
    color: rgb(233, 201, 122);
}
#navitems:hover{
    font-size: 27px;
    text-decoration: underline;
}


#logocabeçalho {
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;

}
.slider{
    margin: 0 auto;
    width: 100%;
    height: 645px;
    overflow: hidden;
    background-color: #ffff;
}

.slides{
    width: 400%;
    height: 645px;
    display: flex;
}
.slides input{
    display: none;
}


.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 100%;
    height: 645px;
}

.manual-navigation{
    flex-direction: row;
    justify-content: center;
    position: absolute; 
    width: 100%;
    margin-top: -20px;
    display: flex;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color:#fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

/*FIM CABEÇALHO*/

/*INICIO TEXTO DE APRESENTAÇÃO*/
#div2 {
    display: inline-block;
    align-items: flex-start;
    background-color: #ffff;
    margin: 0 200px;
}

#header1 {
text-align: center;
font-size: 30px;
}

#text1 {
    text-align: center;
    font-size: 20px;
}

/*FIM TEXTO DE APRESENTAÇÃO*/

/*MELHOR PRODUTO (IMAGEM + HEADING + TEXTO)*/
#melhorprodutodiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 0;
}
#melhorprodutoimg {
    height: 400px;
    width: 400px;
}

#melhorprodutoheadingtext {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin: 0 300px;
    background-color: #ffff;
}
/*FIM MELHOR PRODUTO */
/*INICIO CARDS */
#portifolio{
    padding-top: 100px;  /* ESPAÇAMENTO NO TOP */
    width: 100%; /* LARGURA */
}
    
.card{
    width: 250px; /* LARGURA */
    height: 380px; /* ALTURA  */
    display: inline-block;/* DEIXA AS IMAGENS UMA DO LADO DA OUTRA  */
    background-color: goldenrod;/*COR DE FUNDO  */
    margin-top: 70px;/* MARGEM TOPO  */
    margin-left: 10%;/*MARGEM A ESQUERDA  */
    border-radius: 20px; /* DEIXA AS BORDAS ARREDONDADAS  */
    text-align: center; /* TEXTO CENTRALIZADO */ 
}
/*CLASSE CARD E IMG  */
.card img{
    width: 50%; /* LARGURA DA IMAGEM  */
    height: auto; /* ALTURA DA IMAGEM AJUSTADA AUTOMATICAMENTE  */
}
/* CLASSE CARD E H3 */
.card h3{
    font-size: 20px; /* TAMANHO DA FONTE  */ 
    margin-top: 20px; /* MARGEM TOPO  */
    font-family: 'Courier New', Courier, monospace;/* TIPO DE FONTE  */
}
/*CLASSE CARD E PARAGRAFO */
.card p{
    font-size: 20px; /* TAMANHO DA FONTE */
    color:#fff; /*COR DA FONTE  */
}
/*CLASSE CARD E BOTÃO  */
.card button{
    display: block; /* DEIXA O BOTÃO FIXO */
    margin: 10px 70px; /* DEIXA MARGEM COM 10PX DIREITA E SUPERIOR E 70PX ESQUERA E INFERIOR */
    padding: 5px 10px; /* DEIXA ESPAÇAMENTO COM 5PX DIREITA E SUPERIOR E 10PX ESQUERA E INFERIOR */
    background-color: #4b0082;  /*COR DE FUNDO */
    border-radius: 10%;/* DEIXA A BORDA ARREDONDADA */
    cursor: pointer; /* DEIXA O CURSOR DESTACADO QUANDO COLOCA O MOUSE EM CIMA */
    width: 100px; /* LARGURA */
    height: 50px; /* ALTURA */
    color:#fff;/*COR DA FONTE */
}
/* CLASSE CARD E EFEITO HOVER */
.card:hover{
    background-color: #000; /* COR DE FUNDO*/
    color: #fff; /* COR DA FONTE*/
}
/* CLASSE CARD E HOVER NO BOTÃO*/
.card button:hover{
    background-color: aquamarine;/*COR DE FUNDO */
    color: #000;/*COR DA FONTE */
}

    