body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
/*ESTE É O CABEÇALHO DO SITE*/
.cabeçalho{
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    background-color: #ffffff;
}


/*IMAGEM DO CABEÇALHO*/
.logocabeçalho{
    background-color: #ffffff;
    height: 120px;
    width: 120px;
    margin-left: 20px;
}
/*CATALOGO DO CABEÇALHO*/
#catalogo {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 70px;
    margin-right: 400px;
    font-weight: 400;
}
/*ICONES DO CABEÇALHO (CARRINHO E LUPA)*/
#icones{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #fff;
    gap: 30px;
    margin-right: 25px;


}
.carrinho{
    width: 30px;
    height: 30px;
}

.carrinho:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% (120% do tamanho original) */
}

.lupa{
    width: 20px;
    height: 20px;
    margin-top: 7px;
}
.lupa:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% (120% do tamanho original) */
}


#navitems{
    text-decoration: none;
    color: rgb(112, 92, 42);
}
#navitems:hover{
    font-size: 18.5px;
    text-decoration: underline;
}
/*FIM CABEÇALHO*/

/*SLIDER*/

/* Estilos para o botão "Veja nossos produtos" */
.btn-veja {
    position: absolute;
    top: 450px; 
    left: 74%; 
    transform: translate(-50%, -50%); /* CENTRALIZAR BOTÃO */
    background-color: #7c6637; 
    color: #fff; /* COR DE TEXTO */
    border: none; /* REMOVE A BORDA */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Cursor do mouse */
    font-size: 14px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    z-index: 10; /* Garante que o botão fique sobre as imagens do slider */
}

.btn-veja:hover {
    background-color: #5a4a28; /* Cor de fundo ao passar o mouse */
}

.slider{
    margin: 0 auto;
    width: 100%;
    height: 583px;
    overflow: hidden;
    background-color: #ffff;
    position: relative;
}
/*SLIDES*/
.slides{
    width: 400%;
    height: 583px;
    display: flex;
}
.slides input{
    display: none;
}

/*CADA SLIDE*/
.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 100%;
    height: 583px;
}
/*BOTÕES PARA MUDAR SLIDES*/
.manual-navigation{
    flex-direction: row;
    justify-content: center;
    position: absolute; 
    width: 100%;
    margin-top: -20px;
    display: flex;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color:#fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio2:checked ~ .btn-veja {
    display: none;
}


#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio2:checked ~ .btn-veja {
    display: none;
}
/*FIM SLIDER */

/*INICIO TEXTO DE APRESENTAÇÃO*/
#div2 {
    display: inline-block;
    align-items: flex-start;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}

/* HEADER QUEM SOMOS */
#header1 {
text-align: center;
font-size: 20px;
font-weight: 400;
color: #66433f;
}
/* TEXTO DE "QUEM SOMOS" */
#text1 {
    text-align: center;
    font-size: 15px;
    font-weight: 360;
}

/*FIM TEXTO DE APRESENTAÇÃO*/

.produtos{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.produtos img{
    width: 200px;
    height: 200px;
}

/*MELHOR PRODUTO*/
.melhorprodutosection {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 0;
    height: 500px;
    width: 100%;
}
.melhorprodutogeneralbox {
    margin-left: 5%;
    margin-right: 4%;
    background-color: #ffffff;
}
#melhorprodutoimg {
    height: 500px;
    width: 500px;
}
.melhorprodutobox1{
    height: 100px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.melhorprodutobox1 h1{
    margin-left: 2%;
    color: #66433f;
    font-size: 18px;
    font-weight: 400;
}
.melhorprodutobox1 p{
    margin-left: 2%;
    font-size: 15px;
    font-weight: 360;
}

.melhorprodutobox234{
    display: flex;
    justify-content: space-between;
}

.melhorprodutobox234 ul{
    background-color: #ffffff;
    flex-direction: row;
    width: 190px;
    padding: 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -0.5px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave cobrindo ambos lados */
}
.melhorprodutobox234 ul img{
    height: 100px;
    width: 100px;
    margin-left: 23%;
}
.melhorprodutobox234 ul p{
    text-align: center;
    font-size: 15px;
    font-weight: 360;
}
/*FIM MELHOR PRODUTO */

/*INICIO PRODUTOS */
.produtos{
    display: inline-block;
    background-color: rgb(255, 255, 255);/*COR DE FUNDO  */
    margin-right: 0;
    margin-left: 10%;
    margin-top: 70px;
    gap: 500px;
}
.produtosbox{
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 200px;
}
.produtosbox:not(:first-child){
    margin-top: 50px;
}
.produtosbox div{
    background-color: #ffffff;
    height: 300px;
    width: 700px;
}
.produtosbox div h1{
    font-size: 20px;
    font-weight: 360;
}
.produtosbox div p{
    font-size: 15px;
    font-weight: 360;
}
/*CLASSE PRODUTOSBOX DIV (TITULO DO MELHOR PRODUTO TEXTO E BOTÃO)  */
.produtosbox div button{
    display: block; /* DEIXA O BOTÃO FIXO */

    background-color: #5c291a;  /*COR DE FUNDO DO BOTÃO*/
    border: none;
    cursor: pointer; /* DEIXA O CURSOR DESTACADO QUANDO COLOCA O MOUSE EM CIMA */
    width: 180px; /* LARGURA */
    height: 40px; /* ALTURA */
    background-color: #7c6637; 
    color: #fff; /* COR DE TEXTO */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* INTERAGE COM O CURSOR DO MOUSE */
    font-size: 14px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    z-index: 10; /* Garante que o botão fique sobre as imagens do slider */
}
.produtosbox div button:hover{
    background-color: #5c291a;
}
}
/* CLASSE PRODUTOSBOXDIV E HOVER NO BOTÃO*/

    